---
layout: default
title: MyLover
---
<div class="post">
  <div class="top">
    <h2>MyLover</h2>
  </div>
  <div class="content">

    <p><a href="http://lenage.com"><img id="left" src="{{ base.url }}/images/mylover/lover1.jpg"  /></a>

    </p>
    
    <h2 style="display:block;clear:both; margin-top: 10px;">This Video Pics</h2>

    <p>The Video</p>
<p>  
<EMBED SRC="{{ base.url }}/videos/movie.wmv" autostart=false loop=false  width=320 hight=300>
</p>
  </div>
  <div class="bottom"></div>
</div>
